#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy
4. TensorFlow
5. Keras
6. PyTorch
7. Plotly
8. Scikit-learn

|Data Science Tools|
|-------------|
|Jupyter Notebook| 
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
List popular languages for Data Science
- Python
- R
- Scala
- Julia
- JavaScript

## Author 
Jingjing